.personal_member {
  padding-top: var(--space-m);
  display: grid;
  gap: var(--space-s);
  .row_box {
    padding: var(--space-xs);
    display: flex;
    gap: var(--space-m);
    color: var(--gray-dark);
    font-weight: 400;
    font-size: var(--text-m);
  }
  .comment {
    padding: 0 var(--space-xs);
    display: flex;
    color: var(--gray1);
    font-weight: 400;
    font-size: var(--text-m);
    margin-bottom: var(--space-m);
  }
}
