.step1 {
  display: flex;
  flex-direction: column;
  gap: var(--space-l);
}

.check_field {
  display: flex;
  align-items: center;
  gap: var(--space-xs);
}

.sign_up_form {
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
  .comment {
    font-size: var(--text-s);
  }
}

.sending_message {
  font-size: var(--text-s);
}
