.account {
  background-image: url("/src/images/@home/reading_unit_edmond.svg"),
    url("/src/images/@home/home_bg.svg");
  background-repeat: no-repeat, repeat-x;
  background-position: right top 400px, center top;
  background-size: 240px, auto;
}
